<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Host Login</title>
<script>
	var successLink = "[[${successLink}]]";
	if(successLink != undefined && successLink != ""){
		window.location = "/"+successLink;
	}
</script>
</head>
<body>
<h1>Host Login Form</h1>
<p style="color:red">[[${errorMessage}]]</p>
<form action="/host/login" method="POST">
	<table border="1">
		<tr>
			<th>Email</th>
			<td><input name="email" required></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input name="password" required></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit"></td>
		</tr>
	</table>
</form>
</body>
</html>