<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Host Update</title>
<script>
	var successLink = "[[${successLink}]]";
	if(successLink != undefined && successLink != ""){
		window.location = "/"+successLink;
	}
</script>
</head>
<body>
<h1>Host Update Form</h1>
<p style="color:red">[[${errorMessage}]]</p>
<form action="/host/update" method="POST" enctype="multipart/form-data">
	<table border="1">
		<tr>
			<th>Email</th>
			<td><input name="email" th:value="${host.userDetails.email}" required></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input name="password" required></td>
		</tr>
		<tr>
			<th>New Email</th>
			<td><input name="newEmail" ></td>
		</tr>
		<tr>
			<th>New Password</th>
			<td><input name="newPassword" ></td>
		</tr>
		<tr>
			<th>First Name</th>
			<td><input name="firstName" th:value="${host.userDetails.firstName}" required></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input name="lastName" th:value="${host.userDetails.lastName}" required></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input name="phoneNumber" th:value="${host.userDetails.phoneNumber}" required></td>
		</tr>
		<tr>
			<th>Display Picture</th>
			<td><img style="width:200px" th:src="${host.userDetails.displayPictureId == null ? 'https://vignette.wikia.nocookie.net/made-for-tv-movie/images/6/62/Image_unavailable.png/revision/latest?cb=20171002225603' : host.userDetails.displayPictureId.url}"></td>
		</tr>
		<tr>
			<th>Display Picture Change</th>
			<td><input name="displayPicture" type="file" accept="image/*"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit"></td>
		</tr>
	</table>
</form>
</body>
</html>