<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Guest Login</title>
<script>
	var successLink = "[[${successLink}]]";
	if(successLink != undefined && successLink != ""){
		window.location = "/"+successLink;
	}
</script>
<link href="/basic.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Guest Login Form</h1>
<p style="color:red">[[${errorMessage}]]</p>
<form action="/guest/login" method="POST">
	<input type="text" name="email" placeholder="Email" required>
	<br>
	<input type="password" name="password" placeholder="Password" required>
	<br>
	<input type="submit" value="Login">
</form>
</body>
</html>