<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Guest Registration</title>
<script>
	var successLink = "[[${successLink}]]";
	if(successLink != undefined && successLink != ""){
		window.location = "/"+successLink;
	}
</script>
</head>
<body>
<h1>Guest Registration Form</h1>
<p style="color:red">[[${errorMessage}]]</p>
<form action="/guest/register" method="POST">
	<table border="1">
		<tr>
			<th>Email</th>
			<td><input name="email" required></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input name="password" required></td>
		</tr>
		<tr>
			<th>First Name</th>
			<td><input name="firstName" required></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input name="lastName" required></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input name="phoneNumber" required></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit"></td>
		</tr>
	</table>
</form>
</body>
</html>